.full-screen {
	min-height: 100%;
	width: 100%;
	position: relative;
	padding-top: $navbar-height;
	margin-bottom: $navbar-height;
}

.full-screen .full-screen {
	position: absolute;
}

.full-width {
	width: 100%;
	padding-top: $navbar-height;
	padding-bottom: $navbar-height;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}