@import "variables";
@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "helper";

$blue: hsl(180, 100%, 30%);
$orange: hsl(35, 100%, 65%);

html, body {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	font-family: ubuntu, sans-serif;
}

.navbar {
	.navbar-brand {
		font-family: comfortaa, sans-serif;
	}

	.navbar-nav li a {
		font-family: open-sans-condensed, sans-serif;
		font-size: 130%;
		letter-spacing: 1px;	
	}
}

main {
	height: 100%;
	width: 100%;
}

h1 {
	font-family: comfortaa, sans-serif;
	font-weight: 100;
}

#home {
	text-align: center;

	.bg-image {
		background-image: url("/linker/images/ft_mchenry.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: right center;

		$blur: 5px;
		-webkit-filter: blur($blur);
		   -moz-filter: blur($blur);
		   	-ms-filter: blur($blur);
		     -o-filter: blur($blur);
		        filter: blur($blur);
	}


	.color-overlay {
		background-color: hsla(180, 100%, 30%, 0.7);
	}

	.hgroup {
		position: absolute;
		top: 35%;
		padding: 0;
		width: 100%;

		h1 {
			color: hsl(180, 100%, 13%);
			font-size: 6em;
			margin: 0 auto;
		}

		h2 {
			color: $orange;
			font-family: open-sans-condensed, sans-serif;
			font-size: 3em;
			margin: 0 auto;
		}
	}

	.next {
		position: absolute;
		bottom: 5%;
		width: 100%;

		a {
			margin: 0 auto;
			font-size: 4em;
			font-weight: 100;
		}
	}
}

#about {
	background-color: $orange;

	.aboutMe {
		padding-top: 10em;
	}
}

#experience {
	background-color: $blue;
}