@import "variables";
@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "helper";

html, body {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
}

#home {
	text-align: center;

	.bg-image {
		background-image: url("/linker/images/ft_mchenry.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: right center;

		$blur: 5px;
		-webkit-filter: blur($blur);
		   -moz-filter: blur($blur);
		   	-ms-filter: blur($blur);
		     -o-filter: blur($blur);
		        filter: blur($blur);
	}


	.color-overlay {
		background-color: hsla(180, 100%, 30%, 0.7);
	}

	hgroup {
		position: absolute;
		top: 35%;
		padding: 0;

		h1 {
			color: hsl(180, 100%, 13%);
			font-family: comfortaa, sans-serif;
			font-size: 6em;
			font-weight: 100;
		}

		h2 {
			color: hsl(35, 100%, 65%);
			font-family: open-sans-condensed, sans-serif;
			font-size: 3em;
		}
	}

	i {
		position: absolute;
		bottom: 50px;
		font-size: 4em;
		color: white;
		font-weight: 100;
	}
}
