<main id="home" class="full-screen">
    <div class="bg-image full-screen"></div>
    <div class="color-overlay full-screen"></div>

    <hgroup class="absolute-center">
        <h1>Nick Young</h1>
        <h2>I like making great things</h2>
    </hgroup>
    <i class="fa fa-arrow-circle-o-down"></i>
</main>