<!-- Home -->
<section id="home" class="full-screen">
    <div class="bg-image full-screen"></div>
    <div class="color-overlay full-screen"></div>

    <div class="hgroup">
        <h1>Nick Young</h1>
        <h2>I like making great things</h2>
    </div>
    
    <div class="next">
        <a href="#about"><i class="fa fa-inverse fa-arrow-circle-o-down"></i></a>
    </div>
</section>

<!-- About -->
<section id="about" class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-thumbnail" src="/linker/images/self.jpg" alt="Nick Young">
            </div>
            <div class="col-sm-6 aboutMe">
                <h1>About Me</h1>
                <p>I have an insatiable thirst for learning technology and discovering how it works. It all started when I was introduced to programming with an Apple II computer in the 4th grade. From there I have been seeking out new technologies and figuring out how they work. I dabble in microelectronics and code full time on mainframes and webservers.</p>
            </div>
        </div>
    </div>
</section>

<!-- Experience -->
<section id="experience" class="container-fluid full-screen">
    <div class="container">
        <div class="row">
            <h1>Experience</h1>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section id="portfolio" class="container-fluid full-screen">
    <h1>Portfolio</h1>
</section>