<section id="home" class="full-screen">
    <div class="bg-image full-screen"></div>
    <div class="color-overlay full-screen"></div>

    <hgroup class="absolute-center">
        <h1>Nick Young</h1>
        <h2>I like making great things</h2>
    </hgroup>
    <a href="#about"><i class="fa fa-arrow-circle-o-down"></i></a>
</section>

<section id="about" class="full-screen">
    <h1>About Nick</h1>
    <p>I have an insatiable thirst for learning technology and how it works. It all started with an Apple II computer in grade school.</p>
</section>

<section id="interests">
</section>

<section id="portfolio">
</section>